/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/base.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
@tailwind base;

:root {
  --gray-light5: #b2b2b2;
  --gray-light4: #999999;
  --gray-light3: #808080;
  --gray-light2: #666666;
  --gray-light1: #4d4d4d;
  --gray-main: #333;
  --gray-dark: #1a1a1a;

  --red-light5: #ff8082;
  --red-light4: #ff6769;
  --red-light3: #ff4e50;
  --red-light2: #f23436;
  --red-light1: #d91b1d;
  --red-main: #bf0103;
  --red-dark1: #a60000;
  --red-dark2: #8c0000;
  --red-dark3: #730000;
  --red-dark4: #590000;
  --red-dark5: #400000;

  --yellow-light5: #ffff91;
  --yellow-light4: #ffff78;
  --yellow-light3: #ffff5f;
  --yellow-light2: #ffff45;
  --yellow-light1: #fff42c;
  --yellow-main: #feda12;
  --yellow-dark1: #e5c100;
  --yellow-dark2: #cba700;
  --yellow-dark3: #b28e00;
  --yellow-dark4: #987400;
  --yellow-dark5: #7f5b00;

  --blue-light5: #81ddff;
  --blue-light4: #68c4ff;
  --blue-light3: #4fabff;
  --blue-light2: #3591ff;
  --blue-light1: #1c78ff;
  --blue-main: #025eff;
  --blue-dark1: #0045e6;
  --blue-dark2: #002bcc;
  --blue-dark3: #0012b3;
  --blue-dark4: #000099;
  --blue-dark5: #000080;

  --green-light5: #8bd08f;
  --green-light4: #72b776;
  --green-light3: #599e5d;
  --green-light2: #3f8443;
  --green-light1: #266b2a;
  --green-main: #0c5110;
  --green-dark1: #003800;
  --green-dark2: #001e00;
  --green-dark3: #000500;
}

*,
html,
body {
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */

#topnav .icon {
  display: none;
}

#topnav a:hover {
  color: var(--yellow-main);
}

#heroDiv {
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}

@media screen and (min-width: 1024px) {
  #heroDiv {
    position: absolute;
    right: 0px;
    left: auto;
    transform: none;
    margin-right: 3rem;
  }
}

#resourcesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media screen and (max-width: 1024px) {
  #topnav a:not(.headerImg) {
    display: none;
  }
  #topnav a.icon {
    display: block;
  }
}

@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
